/* SE BOOSSTRAP NON E' ATTIVO RICORDA: */

*{
  font-family: sans-serif;
}

/* CSS */

.layout{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd4 15vh,
    #dddbdc 100%
    );
}



.app > .row{
  width: 100%;
  padding: 30px 0px;
  margin-left: 10px;
}

/* colonna dove ci sono i contatti e le info degli utenti  */
.user_interface{

  width: 100%;
  height:90vh;
  margin:0;
  padding: 0;
  border-right: 1px solid #b1b1b1;


}
/* colonna dove avviene la conversazione e ci sono le info dei contatti  */
.chat{
  min-width: 50vh;
  width: 100%;
  height:90vh;
  margin:0;
  padding: 0;
  display: inline-block;


}

/* funzionalità prima colonna */

/* info utente  */
.user{
  height: 60px;
  width:100%;
  background-color: #eaeaea;
  margin: 0;
}

 .user > img{
  border-radius: 50%;
  height: 40px;
  margin-left: 15px;
}

 .user > h2{
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 12px;
  display: inline-block;
}

.user_function{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.user_function > a{
  height: 15px;
  color: #b1b1b1;
  margin-left: 6px;
  margin-right: 10px;
}

.user_function > a:hover{
  color: #009688;
}

/* messaggio info utente  */
.allert{
  height: 70px;
  width: 100%;
  background-color: #8edafc;
  margin: 0;
}
.img_allert {
  background-color:white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 15px;
}
.img_allert > i{
  color:#8edafc;
}

 .text-allert {
   margin-left: 5px;
 }

 .text-allert > h2{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 5px;
  display: block;
}

 .text-allert > a{
     color:#527d93;
     font-size: 12px;
     line-height: 12px;
     font-weight: 400;
     margin-left: 5px;
     display: block;
     text-decoration: underline;
 }


/* barra di ricerca */
.search_contact{
  height: 40px;
  width: 100%;
  background-color: #fafafa;
  margin: 0;
}

.input_box{
  border-radius: 5px;
  border: 1px solid #ebebeb;
  height: 30px;
  width: 90%;
  background-color: white;
}

.input_box > i{
  color:#b1b1b1;
  margin-left:10px;
  margin-right: 10px;
}

.input_box > input{
  font-size: 12px;
  color:#b1b1b1;
  border: none;
  width: 100%;
  outline: none;
}





/* lista dei contatti  */
.contact_list{
  height: calc(100% - 170px);
  overflow: scroll;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
}

.contact_list > ul{
  margin: 0;
  padding:0;
}
.contact_list > ul > li:hover{
  background-color: #ececeb;
}
.contact_list > ul > li:checked{
  background-color: #878786;
}

.contact_list > ul > .selected{
  background-color: #e9ebeb;
}
.contact_list > ul > li{
  margin: 0;
  list-style: none;
  padding-top: 15px;
}

.contact_list > ul > li > img{
  border-radius: 50%;
  height: 40px;
  margin-left: 15px;
  display: inline-block;
}

.contact_list > ul > li > h2{
  font-size: 15px;
  display: inline-block;
}

hr{
  margin: 0;
  margin-top: 15px;
}







/* seconda colonna  */
/* info contatto */

.contact_info{
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  margin: 0;
}
.contact > img{
 border-radius: 50%;
 height: 40px;
 margin-left: 15px;
 display: inline-block;
}

.text_contact_info {
  margin-left: 5px;
}

.text_contact_info > h2{
 font-size: 14px;
 font-weight: 400;
 line-height: 14px;
 margin-left: 5px;
 display: block;
}

.text_contact_info > span{
    color:#527d93;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    margin-left: 5px;
    display: block;
}

.contact_function{
  line-height: 60px;
  position: absolute;
  right: 15px;

}
.contact_function > a{
  color:#b1b1b1;
  margin-right: 15px;
}
.contact_function > a:hover{
  color: #009688;
}

/* spazio della chat  */
.chat_board{
  height: calc(100% - 120px);
  overflow: scroll;
  width: 100%;
  background-image: url(../img/mine.jpg);
  margin: 0;
}

.contact_message{
  background-color: #d5f9ba;
  border-radius: 10px;
  width: 60%;
  margin:15px;
  margin-left: 18vw;
  flex-direction: column;

}

.contact_message > h3{
  font-size: 15px;
  color: #060000;
  text-align: left;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.contact_message > p{
  font-size: 8px;
  color: #cac8d0;
  margin-bottom: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user_message{
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin:15px;
  flex-direction: column;
}

.user_message > h3{
  font-size: 15px;
  color: #060000;
  text-align: left;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.user_message > p{
  font-size: 8px;
  color: #cac8d0;
  margin-bottom: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}



/* barra per scrivere un messaggio  */
.chat_input{
  height: 60px;
  width: 100%;
  background-color: #f3eeea;
  margin: 0;
}

.chat_input > input{
  width: 50vw;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  font-size: 12px;
  color:#b1b1b1;
  padding-left: 20px;
  outline: none;
}

.chat_input > a{
  color:#b1b1b1;
  margin: 0px 20px;
}
